<b><span id="countdown"></span></b>

<p>TILL</p>

<div id='name'>
	<%= @countdown.name %>
</div>

<div id='data'>
	<div id='year'><%= @year %></div>
	<div id='month'><%= @month %></div>
	<div id='day'><%= @day %></div>
	<div id='hour'><%= @hour %></div>
	<div id='minute'><%= @minute %></div>
	<div id='second'><%= @second %></div>
</div>

